* {
  font-family: sans-serif;
}

body {
  color: #333;
  background: #f9f9f9;
  margin: auto;
  width: 600px;

  display: grid;
  grid-template-rows: 80vh 20vh 1fr 1fr;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.project {
  border: 1px solid #999;
  border-radius: 8px;
  padding: 8px;
}

a {
  text-decoration: none;
  color: #0079ba;
}

header {
  align-self: center;
  justify-self: center;
}
    